.footer {
	background-color:#e9edf5;
	color: gray;
	padding: 25px 70px;
	text-align: left;
	font-size: 16px;
	line-height: 180%;
	width: 100%;
}
.footerContent1 span {
  cursor: pointer;
}
