.menuBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100vh;
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}

.menuBar.open {
  transform: translateX(0);
}

.menuBar .menuHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}

.menuBar .menuTitle {
  font-size: 18px;
  font-weight: bold;
}

.menuBar .closeButton {
  background: none;
  border: none;
  color: #000;
  font-size: 24px;
  cursor: pointer;
}

.menuBar .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.menuBar .profile img {
  border-radius: 50%;
  margin-bottom: 10px;
  width: 80px;
  height: 80px;
}

.menuBar .menuContent {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
}

.menuBar .menuItem {
  width: 90%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.menuBar .menuItemLink {
  background: none;
  border: none;
  color: #000;
  font-size: 16px;
  text-align: left;
  padding: 10px 20px;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.menuBar .menuItemLink:hover {
  background-color: #f0f0f0;
}

.menuBar .menuItemLink.active {
  background-color: #f0f0f0;
  border-radius: 8px;
}

.menuBar .menuItemLink span {
  margin-left: 10px;
}

.menuBar .footer {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  border-top: 1px solid #eee;
  background-color: white;
}

