.studyGroupEditor {
  margin: 0 auto;
}
.studyGroupEditor h3 {
  text-align: center;
}
.studyGroupEditor table {
  margin: 0 auto;
}
.studyGroupEditor .buttonSection {
  margin: 0 auto;
  text-align: center;
}