.studyGroupEditor {
  margin: 0 auto;
}
.studyGroupEditor h3 {
  text-align: center;
}
.studyGroupEditor table {
  margin: 0 auto;
}
.studyGroupEditor .buttonSection {
  margin: 0 auto;
  text-align: center;
}
.studyGroupEditor .groupImage {
  width: 120px; 
  height: 120px;
  border-radius: 50%;
  cursor: pointer; /* 클릭 가능한 항목임을 나타냄 */
  margin: 10px 0;
}