<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeus.backend.mapper.BoardMapper">
	<!-- 게시물 등록(개인) -->
	<insert id="create">
		INSERT INTO BOARD
		(no, group_id, user_id, user_nickname, category, subject, content, filename, ref, step, depth)
		VALUES
		(BOARD_id_SEQ.NEXTVAL, #{group_id}, #{user_id}, #{user_nickname}, #{category}, #{subject}, #{content},
		#{filename}, #{ref}, #{step}, #{depth})
	</insert>
	<!-- no 최댓값 --> 
	  <select id="maxNo" resultType="Integer">
	    SELECT nvl(max(no), 0)+1 FROM BOARD
	  </select>
	<!-- 게시물 수정 -->
	<update id="modify">
		UPDATE BOARD SET 
		category = #{category}, subject = #{subject}, content = #{content}, 
		filename = #{filename}, REG_DATE = sysdate 
		WHERE no = #{no}
	</update>
	<!-- 게시물 삭제 -->
	<delete id="delete">
		DELETE FROM BOARD WHERE no = #{no}
	</delete>
	<!-- 게시물 상세 -->
	<select id="read" resultType="com.zeus.backend.domain.Board">
		SELECT * FROM BOARD WHERE no = #{no}
	</select>
	<!-- Ref로 게시물 상세 -->
	<select id="readByRef" resultType="com.zeus.backend.domain.Board">
		SELECT * FROM BOARD WHERE ref = #{ref} and step = 0 and depth = 0
	</select>
	<!-- 모든 게시물 조회 -->
	<select id="list" resultType="com.zeus.backend.domain.Board">
		SELECT * FROM BOARD ORDER BY ref desc, step asc
	</select>
	<!-- 조회수 증가 -->
	<update id="incrementReadCount">
		UPDATE BOARD SET read_count = read_count + 1 WHERE no = #{no}
	</update>
	<!-- 파일이름 찾기 --> 
	<select id="filename" resultType="String">
		select filename from BOARD where no=#{no}
	</select>
	<!-- 댓글 작성 시 수정 -->
	<update id="modifyReply"> 
		UPDATE BOARD SET step = step + 1 WHERE ref = #{ref} and step > #{step}
	</update> 
	<!-- 검색 -->
	<select id="search" resultType="com.zeus.backend.domain.Board">
		SELECT DISTINCT * FROM BOARD 
		where LOWER(subject) LIKE LOWER(#{search}) 
        OR LOWER(content) LIKE LOWER(#{search}) 
		order by reg_date desc
	</select>
	<!-- 검색 --> 
	<select id="searchByCategory" resultType="com.zeus.backend.domain.Board">
		SELECT DISTINCT * FROM BOARD 
		where (LOWER(subject) LIKE LOWER(#{search}) 
        OR LOWER(content) LIKE LOWER(#{search})) 
        AND LOWER(category) = LOWER(#{category}) 
		order by reg_date desc
	</select>
	<!-- 카테고리 --> 
	<select id="listCategory" resultType="String">
	select category from BOARD
	</select>
</mapper>