<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zeus.backend.mapper.ChatRoomMapper">

	<!-- 채팅방 생성 -->
	<insert id="createChatRoom">
		INSERT INTO CHAT_ROOM (ROOM_NO, ROOM_ID, ROOM_NAME, CREATER, ROOM_URL,
		ROOM_INFO)
		VALUES (CHAT_ROOM_SEQ.NEXTVAL, #{room_id}, #{room_name}, #{creater},
		#{room_url}, #{room_info})
	</insert>

	<!-- 특정 채팅방 조회 -->
	<select id="getChatRoomById"
		resultType="com.zeus.backend.domain.ChatRoom">
		SELECT * FROM CHAT_ROOM WHERE ROOM_ID = #{room_id}
	</select>

	<!-- 모든 채팅방 조회 -->
	<select id="getAllChatRooms"
		resultType="com.zeus.backend.domain.ChatRoom">
		SELECT * FROM CHAT_ROOM ORDER BY REG_DATE DESC
	</select>

	<!-- 내 채팅방 조회 -->
	<select id="getMyChatRooms"
		resultType="com.zeus.backend.domain.ChatRoom">
		SELECT *
		FROM CHAT_ROOM
		WHERE ROOM_ID IN (
		SELECT ROOM_ID
		FROM CHAT_ROOM_MEMBER
		WHERE USER_ID = #{user_id}
		)
		ORDER BY REG_DATE DESC

	</select>

</mapper>
