<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeus.backend.mapper.GroupOneMapper">
	<!-- 그룹원 등록 -->
    <insert id="create">
        INSERT INTO GroupOne (groupone_id, group_id, user_id, user_nickname
        ) VALUES ( GroupOne_id_SEQ.NEXTVAL, #{group_id}, #{user_id},#{user_nickname})
    </insert>
    <!-- 모든 그룹원 조회 --> 
    <select id="list" resultType="com.zeus.backend.domain.GroupOne">
        SELECT * FROM GroupOne ORDER BY enable
    </select>
    <!-- 특정 그룹원을 ID로 조회-->
    <select id="selectById" resultType="com.zeus.backend.domain.GroupOne">
        SELECT * FROM GroupOne WHERE groupone_id = #{groupone_id}
    </select>
    <!-- 특정 그룹에 속한 모든 그룹원을 조회 -->
    <select id="selectByGroupId" resultType="com.zeus.backend.domain.GroupOne">
        SELECT * FROM GroupOne WHERE group_id = #{group_id} ORDER BY enable DESC, reg_date ASC
    </select>
    <!-- 특정 그룹 허용된 모든 그룹원 조회 -->
    <select id="selectAllAccept" resultType="com.zeus.backend.domain.GroupOne">
        SELECT * FROM GroupOne WHERE group_id = #{group_id} and enable ='1'
    </select>
    <!-- 특정 그룹 허용되지 않은 모든 그룹원 조회 --> 
    <select id="selectAllNotAccept" resultType="com.zeus.backend.domain.GroupOne">
        SELECT * FROM GroupOne WHERE group_id = #{group_id} and enable ='0'
    </select>
     <!-- 특정 그룹에 속한 모든 그룹원 수 조회 -->  
    <select id="countByGroupId" resultType="int">
        SELECT count(*) FROM GroupOne WHERE group_id = #{group_id}
    </select>
    <!-- 그룹원 정보를 수정 -->
    <update id="modify">
        UPDATE GroupOne
        SET group_id = #{group_id}, user_id = #{user_id}, enable = #{enable} 
        WHERE groupone_id = #{groupone_id}
    </update>
    <!-- 그룹원 허용 -->
    <update id="accept">  
        UPDATE GroupOne
        SET enable = '1' WHERE group_id = #{group_id} and user_id = #{user_id}
    </update>
    <!-- 그룹원 삭제 -->
    <delete id="delete">
        DELETE FROM GroupOne WHERE user_id = #{user_id}
    </delete>
    <!-- 특정 그룹에 속한 모든 그룹원 삭제 -->
    <delete id="deleteByGroupId">
        DELETE FROM GroupOne WHERE group_id = #{group_id}
    </delete>
</mapper>