<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeus.backend.mapper.MessageMapper">
	<!-- 메시지 삽입 -->
	<insert id="create" >
		INSERT INTO messages (
		message_id, ref, user_id, sender_id, sender_nickname, receiver_id, receiver_nickname, content
		) VALUES (
		message_id_seq.NEXTVAL, #{ref}, #{user_id}, #{sender_id}, #{sender_nickname}, #{receiver_id}, #{receiver_nickname}, #{content}
		)
	</insert>
	<!-- 전체 목록 조회 -->
	<select id="list" resultType="com.zeus.backend.domain.Message">
		SELECT * FROM messages ORDER BY sent_at DESC
	</select> 
	<!-- 특정 쪽지 조회 -->
	<select id="read" resultType="com.zeus.backend.domain.Message">
		SELECT * FROM messages WHERE message_id = #{message_id}
	</select>
	<!-- 특정 사용자의 쪽지 목록 조회 -->
	<select id="findByUserId" resultType="com.zeus.backend.domain.Message">
		SELECT * FROM messages WHERE user_id = #{user_id} ORDER BY sent_at DESC
	</select>
	<!-- 쪽지를 읽음 상태로 업데이트 -->
	<update id="updateRead">
		UPDATE messages SET is_read = 1 WHERE ref = #{ref}
	</update>
	<!-- 쪽지 삭제 -->
    <delete id="deleteById" >
        DELETE FROM messages WHERE message_id = #{message_id}
    </delete>
    <!-- 특정 사용자가 받은 모든 쪽지 삭제 -->
    <delete id="deleteByUserId" >
        DELETE FROM messages WHERE user_id = #{user_id}
    </delete>
    <!-- message_id 최댓값 --> 
	  <select id="maxMessageId" resultType="Integer">
	    SELECT nvl(max(message_id), 0) FROM messages
	  </select>
	<!-- 검색 -->
	<select id="search" resultType="com.zeus.backend.domain.Message">
		SELECT DISTINCT * FROM messages 
    	WHERE ((LOWER(sender_id) LIKE LOWER(#{search}) 
        OR LOWER(sender_nickname) LIKE LOWER(#{search}) 
        OR LOWER(receiver_id) LIKE LOWER(#{search}) 
        OR LOWER(receiver_nickname) LIKE LOWER(#{search}) 
        OR LOWER(content) LIKE LOWER(#{search})))	
        AND user_id = #{user_id} 
   		ORDER BY sent_at DESC 
	</select>  
	<!-- 안읽은 쪽지 갯수 -->
	<select id="msgCountNotRead" resultType="int">
	    SELECT count(*) FROM messages where is_read = 0 and user_id = #{user_id}
	</select>
</mapper>