<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeus.backend.mapper.ScheduleMapper">

	<!-- 스케줄 등록 -->
	<insert id="registerSchedule">
		INSERT INTO SCHEDULE (schedule_no, user_id, reg_date,
		start_time, end_time,
		schedule_name, value)
		VALUES
		(SCHEDULE_SEQ.NEXTVAL, #{user_id},TO_DATE(TO_CHAR(#{reg_date}, 'YYYY-MM-DD'), 'YYYY-MM-DD'), #{start_time},
		#{end_time}, #{schedule_name}, #{value})
	</insert>

	<!-- 모든 스케줄 조회 -->
	<select id="getAllSchedules"
		resultType="com.zeus.backend.domain.Schedule">
		SELECT schedule_no, user_id, reg_date, start_time,
		end_time, schedule_name,
		value FROM SCHEDULE
	</select>

	<!-- 특정 유저의 스케줄 조회 -->
	<select id="getSchedulesByUser"
		resultType="com.zeus.backend.domain.Schedule">
		SELECT *
		FROM SCHEDULE
		WHERE user_id = #{user_id}
	</select>
	<!-- 특정 유저의 특정 일 스케줄 조회 -->
	<select id="getSchedulesByUserAndDate"
		resultType="com.zeus.backend.domain.Schedule">
		SELECT *
		FROM SCHEDULE
		WHERE user_id= #{user_id} AND TO_CHAR(reg_date,
		'YYYY-MM-DD') =
		#{reg_date}
	</select>


	<!-- 스케줄 삭제 -->
	<delete id="deleteSchedule">
		DELETE FROM SCHEDULE WHERE schedule_no =
		#{schedule_no}
	</delete>

	<!-- 스케줄 업데이트 -->
	<update id="updateSchedule">
		UPDATE SCHEDULE
		SET start_time = #{start_time},
		end_time = #{end_time}, schedule_name =
		#{schedule_name}, value =
		#{value}
		WHERE schedule_no = #{schedule_no}
	</update>

</mapper>
