.settingChatRoomItemHeader{
  display: flex;
}
.settingChatRoomItemHeader h1{
  margin-left: 60px;
}
.settingChatRoomItemInput input{
  width: 93%;
  margin-bottom: 6px;
}
.settingChatRoomItemBtn{
  display: flex;
  justify-content: end;
  margin-top: 10px;
}
.settingChatRoomItemBtn button{
  margin-left: 10px;
  cursor: pointer;
  float: right; 
  background: rgb(208, 229, 248);
  border: none;
  padding: 8px 15px;
  border-radius: 3px;
  margin-right: 2px;
}