.messageForm {
  position: absolute;
  top: 120px;
  right: 10px;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 20px;
}

.messageForm .messageFormHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.messageFormHeader .closeBtn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.messageFormBody {
  display: flex;
  flex-direction: column;
}

.messageFormBody label {
  margin: 10px;
}

.messageFormBody input,
.messageFormBody textarea {
  width: 300px;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
}

.messageFormBody textarea {
  padding: 8px 0px;
  margin-bottom: 15px;
  height: 100px;
}

.messageFormBody .msgFormBtnDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.messageFormBody .msgFormBtnDiv button {
  padding: 0 10px;
  height: 35px;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  background-color: white;
  color: #333;
  width: 80px;
  margin: 0 0 5px 10px;
}

.messageFormBody .customSelectContainer {
  position: relative;
  width: 100%;
}

.messageFormBody .customSelectHeader {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: white;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
}

.messageFormBody .customSelectList {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 150px;
  border: 1px solid #ccc;
  background-color: white;
  overflow-y: auto;
  z-index: 1000;
  box-sizing: border-box;
}

.messageFormBody .customSelectList.hidden {
  display: none;
}

.messageFormBody .customSelectListItem, .messageFormBody .noFriendsMessage {
  padding: 10px;
  cursor: pointer;
}

.messageFormBody .customSelectListItem:hover {
  background-color: #f0f0f0;
}
