.messageForm {
  position: absolute;
  top: 50px;
  right: 10px;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 20px;
}

.messageForm .messageFormHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.messageFormHeader button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.messageFormBody {
  display: flex;
  flex-direction: column;
}

.messageFormBody label {
  margin-bottom: 10px;
}

.messageFormBody input,
.messageFormBody textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.messageFormBody button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.messageFormBody button:hover {
  background-color: #45a049;
}

.messageFormBody .customSelectContainer {
  position: relative;
  width: 100%;
}

.messageFormBody .customSelectHeader {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: white;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
}

.messageFormBody .customSelectList {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 150px;
  border: 1px solid #ccc;
  background-color: white;
  overflow-y: auto;
  z-index: 1000;
  box-sizing: border-box;
}

.messageFormBody .customSelectList.hidden {
  display: none;
}

.messageFormBody .customSelectListItem {
  padding: 10px;
  cursor: pointer;
}

.messageFormBody .customSelectListItem:hover {
  background-color: #f0f0f0;
}
