.managerContent{
  width: 90%;
  border: 0.8px solid rgb(197, 197, 197);
  border-radius: 10px;
  margin: 50px auto;
  min-height: 650px;
  padding: 20px 40px;
}
.managerMenuInfo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.managerMenuBtn{
  display: flex;
  flex-direction: column;
}
.managerMenuBtn .selected {
  color : blue;
}
/* 여기 아래부터 user 고객센터 css 그대로 가져와서 수정해야함 */
.managerHomeInfo{
  text-align: center;
  margin-top: 40px;
}
.UserTable{
  width: 80%;
  margin: 50px auto;
  text-align: center;
  line-height: 170%;
}

/* managerCustomerService */
.managerCustomerService .subTitle {
  font-size: 20px;
  text-align: center;
  margin: 30px 0;
  font-weight: 600;
}

.managerCustomerService .subTitleItem {
  margin: 0 10px;
  cursor: pointer;
}

.managerCustomerService .contentBox {
  line-height: 170%;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  border-top: 1.5px solid rgb(240, 240, 240);
  border-bottom: 1.5px solid rgb(240, 240, 240);
}

.managerCustomerService .answered {
  color: blue;
}

.managerCustomerService .pending {
  color: red;
}

/* managerFaqEditor */
.formGroup {
  margin-bottom: 15px;
}
.formGroup label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}
.formGroup input, .formGroup select, .formGroup textarea{
  width: 97%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
#category{
  width: 100%;
}
.newCategory{
  display: flex;
  height: 40px;
}
.addCategoryButton, .completeButton {
  background-color: rgb(168, 176, 189);
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 550;
}
.newCategory button{
  width: 90px;
}
.addCategoryButton:hover, .completeButton:hover {
  background-color:  rgb(114, 120, 129);
}
textarea {
  resize: vertical;
  height: 150px;
}
.btnSub{
  display: flex;
  justify-content: end;
}



.supportForm {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 15px;
}

.title,.formGroup {
  display: flex;
  flex-direction: column;
}

.subtitle {
  color: red;
  font-size: 12px;
}

.formLabel {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px; /* 상담유형 글씨 크기 조정 */
}

.radioGroup {
  display: flex;
  gap: 20px; /* 라디오 버튼 사이의 간격을 조정합니다 */
  font-size: 14px; /* 상담유형 옵션 글씨 크기 조정 */
  justify-content: space-around;
}

.radioGroup label {
  display: flex;
  flex-direction: column; /* 수직 정렬을 위해 추가 */
  align-items: center;
  gap: 5px;
}

.formInput, .formTextarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px; /* 입력 필드 글씨 크기 조정 */
}

.formTextarea {
  height: 100px;
}

.submitButton {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  align-self: center;
}

.submitButton:hover {
  background-color: #45a049;
}

.managerContent .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.managerContent .pagination button {
  /* background-color: #4CAF50;
  color: white; */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 10px;
}

.managerContent .pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.managerContent .pagination span {
  font-size: 16px;
}

.managerChartItem h3{
  text-align: center;
}
