.profileContainer {
  width: 70%;
  padding: 20px;
  font-family: Arial, sans-serif;
  margin: 30px auto 110px;
  border-radius: 10px;
}

.profileContainer h1 {
  text-align: center;
  margin-bottom: 20px;
}

.profileContainer .profileNav {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: #ff69b4;
}

.profileContainer .profileNav span {
  margin: 0 10px;
  cursor: pointer;
}

.profileContainer .profileNav .active {
  font-weight: bold;
}

.profileContent {
  text-align: center;
}

.profileTable {
  margin: 0 auto;
  width: 50%;
  border-collapse: collapse;
  text-align: center;
}

.profileTable td {
  padding: 10px;
  border: 1px solid #ddd;
}

.profileTable input {
  width: 80%;
  padding: 5px;
  outline: none;
  border: none;
}

.profileTable button {
  padding: 5px 10px;
  background-color: #ff69b4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.profile button:hover {
  background-color: #ff1493;
}

.profile .errorMmessage {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.profile .profileAvatar {
  width: 120px; 
  height: 120px;
  border-radius: 50%;
  cursor: pointer; /* 클릭 가능한 항목임을 나타냄 */
  margin-bottom: 20px; /* 아래 마진 */
  margin-top: 20px;
}
