.cheerLeader{
  position: absolute;
  width: 200px;
  border: 0.6px solid rgb(155, 155, 155);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 8px;
  font-size: 12px;
  visibility: hidden;
}