.cheeringCommentText{
  display: flex;
  padding: 5px 10px;
  margin-top: 10px;
}
.comment{
  flex-grow: 1;
  margin: 0 10px;
  border: 0;
}
.cheeringComment>.emojiItem{
  margin-left: 40px;
}
.updateBtn{
  border: 1px solid rgb(88, 129, 167);
  padding: 5px 10px;
  margin-right: 5px;
}
.editComment .emojiItem{
  display: none;
}
.editComment .inputEmoji{
  position: absolute;
}
.cheeringCommentText .user_nickname{
  display: flex;
  align-items: center
}
.cheeringCommentText .user_nickname span{
  margin: 0;
}

.btnIcon{
  display: flex;
  align-items: center
}

.cheeringComment{
  border-bottom: 0.8px solid rgb(197, 197, 197);
}