.boardList {
  margin: 30px auto 50px auto;
  padding: 5px 40px;
  width: 65%;
  min-height: 650px;
  border-radius: 8px;
}

.boardList h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.boardList .searchBar {
  display: flex;
  margin-bottom: 20px;
}

/* .boardList .writeButton {
  background-color: #b399ff;
  color: white;
  border: none;
  padding: 10px 4px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  width: 77px;
} */

/* .boardList .writeButton:hover {
  background-color: #7c4dff;
} */

.boardList .searchBar select,
.boardList .searchBar input,
.boardList .searchBar button {
  /* margin-right: 10px; */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.boardList .searchBar select{
  margin-right: 7px;
}
.boardList .searchBar button {
  background-color: #424242;
  color: white;
  cursor: pointer;
  width: 90px;
  margin-left: 5px;
}

.boardList .searchBar button:hover {
  background-color: #616161;
}

.boardListTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.boardListTable th,
.boardListTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.boardListTable th {
  background-color: #f0f0f5;
  font-weight: bold;
}

.boardListRow {
  background-color: #fff;
}

.boardList .postTitle {
  cursor: pointer;
  flex-grow: 1;
}

.boardList .postTitle:hover {
  text-decoration: underline;
}

.boardList .editButton,
.boardList .deleteButton {
  background-color: #7c4dff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 2px;
  font-size: 0.8rem; /* Adjust font size */
}

/* .boardList .editButton:hover {
  background-color: #5e35b1;
} */

/* .boardList .deleteButton {
  background-color: red;
}

.boardList .deleteButton:hover {
  background-color: darkred;
} */

.boardList .buttonGroup {
  display: flex;
  justify-content: center; /* Center the buttons */
  align-items: center;
  gap: 5px; /* Button spacing */
}

.boardList .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boardList .pagination button {
  /* background-color: #f0f0f5; */
  color: #333;
  border: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

.boardList .pagination button.active {
  background-color: #c6c9d8;
  color: white;
}

.boardList .pagination button:disabled {
  /* background-color: #ddd; */
  cursor: not-allowed;
}
