.attainmentContent {
  width: 70%;
  border: 0.8px solid rgb(197, 197, 197);
  border-radius: 10px;
  margin: 50px auto;
  min-height: 650px;
}
.todoDate{
  width: 90%;
  margin: 0 auto;
}

.attainmentList{
  width: 80%;
  margin: 0 auto;
  padding: 0; 
}
.registerDiv{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.registerContent{
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.registerDiv .input-field,.registerDiv .select-field {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.registerDiv .cancelBtn,.registerDiv .submitBtn{
  background-color: #7898be;
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.registerDiv .cancelBtn:hover,.registerDiv .submitBtn:hover{
  background-color: #5e7897;
}