.attainmentItemContent{
  display: flex;
  align-items: start;
  justify-content: center;
}
.attainmentTitle{
  display: flex;
  align-items: center;
  justify-content: center;
}
.attainmentTitle h1{
  margin-right: 10px;
  margin-left: 30px;
}
.attainmentDetails{
  text-align: center;
  margin: 0 auto;
}
.attainmentProgressContainer{
  width: 30%;
  margin: 0 auto 30px auto;
}
.attainmentEdit{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.attainmentEditContent{
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.attainmentEdit .input-field,.attainmentEdit .select-field {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.attainmentEdit .cancelBtn,.attainmentEdit .submitBtn{
  background-color: #7898be;
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.attainmentEdit .cancelBtn:hover,.attainmentEdit .submitBtn:hover{
  background-color: #5e7897;
}